<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreshConnect"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBlS8bTR9Q-olpg6wQ0kgeHN8FUwAMjaig" />

        <!-- Login Screen — App entry point -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Signup Screen — User registration -->
        <activity
            android:name=".ui.login.SignupActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <!-- Main Activity — Home screen after login -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Add Item Activity -->
        <activity
            android:name=".ui.item.AddItemActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
            
        <activity
            android:name=".ui.item.LocationPickerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.ProductDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.ProductDirectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.SearchResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.profile.SavedItemsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.profile.MyAdsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.profile.EditAdActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.ChatRoomActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>